body {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}
