.introducao {
  max-width: 1200px;
  padding: 35px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.imagem2 {
  border-radius: 300px;
}

.descricao {
  text-align: justify;
}

.subh1 {
  color: #d97200;
}

.ola {
  font-size: 25px;
}

#cor {
  background-color: aqua;
  z-index: -1;
}

.imagem-pequena {
  position: relative;
  bottom: 10x;
  display: flex;
  margin: 0px;
  padding: 15px;
  left: 35px;
}
