.introducao {
  max-width: 1200px;
  padding: 35px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.imagem2 {
  border-radius: 300px;
}

.descricao {
  text-align: justify;
}

.subh1 {
  color: #d97200;
}

.ola {
  font-size: 25px;
}

.base {
  content: "";
  display: flex;
  max-width: 250px;
  background: url("/fotos/base.png") no-repeat;
  position: absolute;
  top: 300px;
  z-index: -1;
}
